body{
    background: url('../assets/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-container-wrapper{
    width: 1000px;
    height: 500px;

}

.pop-up{
    background-image: url(../assets/PvZ.png);
    width: 970px;
    height: 470px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(calc(50% - 485px),-104%);
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    padding-top: 400px;
}

.pop-up:hover{
    cursor: pointer;
    color: white;
}

#invisible{
    display: none;
}

#visible{
    display: block;
}

.main-menu{
    background-image: url(../assets/Main_Menu.png);
    width: 970px;
    height: 470px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    transform: translate(calc(50% - 485px),-104%);
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    padding-top: 400px;
}

#lvl1{
    background-image: url(../assets/levels/level1.PNG);
    width: calc(389px / 1.5);
    height: calc(267px / 1.5);
    margin-top: -320px;
    margin-left: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#lvl2{
    background-image: url(../assets/levels/level2.PNG);
    width: calc(389px / 1.9);
    height: calc(267px / 1.9);
    margin-top: -65px;
    margin-left: 490px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#lvl3{
    background-image: url(../assets/levels/level3.PNG);
    width: calc(389px / 2.7);
    height: calc(267px / 2.7);
    margin-top: -50px;
    margin-left: 510px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#htp{
    background-image: url(../assets/levels/howToPlay.png);
    width: 145px;
    height: 172px;
    margin-top: -110px;
    margin-left: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#htp:hover{
    background-size: 140px;
    cursor: pointer;
}

#lvl1:hover{
    background-size: 250px;
    cursor: pointer;
}

#lvl2:hover{
    background-size: 200px;
    cursor: pointer;
}

#lvl3:hover{
    background-size: 140px;
    cursor: pointer;
}

.game-pause{
    display: block;
    background-image: url(../assets/levels/gamePaused.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 300px;
    width: 326px;
    position: absolute;
    left: calc(50% - 145px);
    top: calc(50% - 165px);
}

.level-complete{
    display: block;
    background-image: url(../assets/levels/levelComplete.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 300px;
    width: 326px;
    position: absolute;
    left: calc(50% - 145px);
    top: calc(50% - 165px);
}

.btn-continue{
    display: block;
    background-image: url(../assets/levels/continue-btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 35px;
    width: 125px;
    position: absolute;
    left: calc(50% - 130px);
    top: calc(50% + 70px);
}

.btn-restart{
    display: block;
    background-image: url(../assets/levels/restart-btn.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /* height: 40px; */
    /* width: 190px; */
    height: 35px;
    width: 145px;
    position: absolute;
    left: calc(50% - 150px);
    /* top: 500px; */
    /* left: calc(50% + 10px); */
    top: calc(50% + 150px);
}

.btn-mainmenu{
    display: block;
    background-image: url(../assets/levels/mainmenu-btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 35px;
    width: 145px;
    position: absolute;
    left: calc(50% + 10px);
    top: calc(50% + 72px);
}

.btn-pause{
    display: block;
    background-image: url(../assets/levels/menu-btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 30px;
    width: 100px;
    position: absolute;
    left: calc(50% + 380px);
    top: calc(50% + 180px);
}

.btn-play{
    display: block;
    background-image: url(../assets/levels/play-btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 29px;
    width: 100px;
    position: absolute;
    left: calc(50% - 120px);
    top: calc(50% + 75px);
}

.btn-continue:hover{
    background-size: 110px;
    cursor: pointer;
}

.btn-restart:hover{
    background-size: 150px;
    cursor: pointer;
}

.btn-mainmenu:hover{
    background-size: 130px;
    cursor: pointer;
}

.btn-pause:hover{
    background-size: 90px;
    cursor: pointer;
}

.btn-play:hover{
    background-size: 83px;
    cursor: pointer;
}


#game{
    width: 1000px;
    height: 500px;
    /* background-image: url(../assets/background_img/bgLevel3.png); */
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 15px;
    margin-top: 100px;
}

#overlay{
    display: none;
    transform: translate(calc(50% - 500px),-101%);
    background-color: rgba(0,0,0,0.7);
  }